<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.fabula.android.timeline" xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.0.1">
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:label="@string/app_name"
            android:name="TimelineActivity" android:screenOrientation="landscape" android:configChanges="orientation" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <uses-library android:name="com.google.android.maps" />
        
         <activity android:name="DashboardActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
                <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="share"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
         </activity>
         
        <activity android:label="@string/create_note_name"
            android:name=".NoteActivity" android:screenOrientation="landscape"/>
            
        <activity android:label="@string/app_name"
            android:name=".ProfileActivity" android:screenOrientation="portrait">
        </activity>
        
        <activity android:label="@string/app_name"
            android:name="com.fabula.android.timeline.map.TimelineMapView" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".MyGroupsActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
         <activity android:label="@string/app_name"
            android:name="MyTagsActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
            
            
           <provider
            android:authorities="com.fabula.android.timeline.database.providers.ExperienceProvider" android:name="com.fabula.android.timeline.database.providers.ExperienceProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.EventProvider" android:name="com.fabula.android.timeline.database.providers.EventProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.NoteProvider" android:name="com.fabula.android.timeline.database.providers.NoteProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.EventItemProvider" android:name="com.fabula.android.timeline.database.providers.EventItemProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.PictureProvider" android:name="com.fabula.android.timeline.database.providers.PictureProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.BaseContentProvider" android:name="com.fabula.android.timeline.database.providers.BaseContentProvider"/>
        <!-- 
	<receiver android:name=".receivers.IntentReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="com.fabula.android.timeline.intent.action.IMAGE"></action>
			</intent-filter>
		</receiver>
 -->
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.recordingprovider" android:name="com.fabula.android.timeline.database.providers.RecordingProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.videoprovider" android:name="com.fabula.android.timeline.database.providers.VideoProvider"/>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.emotionsprovider" android:name="com.fabula.android.timeline.database.providers.EmotionsProvider"></provider>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.groupprovider" android:name="com.fabula.android.timeline.database.providers.GroupProvider"></provider>
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.userprovider" android:name="com.fabula.android.timeline.database.providers.UserProvider"></provider>    
   		<provider
            android:authorities="com.fabula.android.timeline.database.providers.usergroupprovider" android:name="com.fabula.android.timeline.database.providers.UserGroupProvider"></provider>   
        <provider
            android:authorities="com.fabula.android.timeline.database.providers.tagprovider" android:name="com.fabula.android.timeline.database.providers.TagProvider"></provider>  
</application>
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> 
</manifest>
